@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="main-bnr-one">
	<div class="slider-pagination">
		<div class="main-button-prev"><i class="icon-arrow-up"></i></div>
		<div class="main-slider-pagination"></div>
		<div class="main-button-next"><i class="icon-arrow-down"></i></div>
	</div>
	<div class="main-slider-1 swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="banner-inner">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-7 col-lg-7 col-md-7">
								<div class="banner-content">
									<span class="sub-title wow fadeInUp" data-wow-delay="0.2s">High Quality Test Station </span>
									<h1 class="title  wow fadeInUp" data-wow-delay="0.4s">Choosing The<br> Best <span class="text-primary">Quality Food</span></h1>
									<p class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="banner-btn d-flex align-items-center wow fadeInUp" data-wow-delay="0.8s">
										<a href="contact-us.html" class="btn btn-primary btn-md shadow-primary m-r30 btn-hover-1"><span>Book a Table</span></a>
										<a href="about-us.html" class="btn btn-outline-primary btn-md shadow-primary btn-hover-1"><span>View More</span></a>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5 col-md-5">
								<div class="banner-media wow fadeInRight" data-wow-delay="1s">
									<img src="assets/main/images/main-slider/slider1/pic1.png" alt="/">
								</div>
							</div>
						</div>
					</div>
					<img src="assets/main/images/main-slider/slider1/img3.png" class="img1" alt="/">
					<img src="assets/main/images/main-slider/slider1/img1.png" class="img2" alt="/">
					<img src="assets/main/images/main-slider/slider1/img2.png" class="img3" alt="/">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-inner">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-7 col-lg-7 col-md-7">
								<div class="banner-content">
									<span class="sub-title wow fadeInUp" data-wow-delay="0.2s">The Best Food Stations</span>
									<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Where Food <br> Meets<span class="text-primary"> Best Passion</span></h1>
									<p class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="banner-btn d-flex align-items-center wow fadeInUp" data-wow-delay="0.8s">
										<a href="contact-us.html" class="btn btn-primary btn-md shadow-primary m-r30 btn-hover-1"><span>Book a Table</span></a>
										<a href="about-us.html" class="btn btn-outline-primary btn-md shadow-primary btn-hover-1"><span>View More</span></a>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5 col-md-5">
								<div class="banner-media wow fadeInRight" data-wow-delay="1s">
									<img src="assets/main/images/main-slider/slider1/pic1.png" alt="/">
								</div>
							</div>
						</div>
					</div>
					<img src="assets/main/images/main-slider/slider1/img3.png" class="img1" alt="/">
					<img src="assets/main/images/main-slider/slider1/img1.png" class="img2" alt="/">
					<img src="assets/main/images/main-slider/slider1/img2.png" class="img3" alt="/">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="banner-inner">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-7 col-lg-7 col-md-7">
								<div class="banner-content">
									<span class="sub-title wow fadeInUp" data-wow-delay="0.2s">Exploring the Delicious World</span>
									<h1 class="title wow fadeInUp" data-wow-delay="0.4s">Delicious Eats <br> And  <span class="text-primary">Tasty Drinks</span></h1>
									<p class="wow fadeInUp" data-wow-delay="0.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<div class="banner-btn d-flex align-items-center wow fadeInUp" data-wow-delay="0.8s">
										<a href="contact-us.html" class="btn btn-primary btn-md shadow-primary m-r30 btn-hover-1"><span>Book a Table</span></a>
										<a href="about-us.html" class="btn btn-outline-primary btn-md shadow-primary btn-hover-1"><span>View More</span></a>
									</div>
								</div>
							</div>
							<div class="col-xl-5 col-lg-5 col-md-5">
								<div class="banner-media wow fadeInRight" data-wow-delay="1s">
									<img src="assets/main/images/main-slider/slider1/pic1.png" alt="/">
								</div>
							</div>
						</div>
					</div>
					<img src="assets/main/images/main-slider/slider1/img3.png" class="img1" alt="/">
					<img src="assets/main/images/main-slider/slider1/img1.png" class="img2" alt="/">
					<img src="assets/main/images/main-slider/slider1/img2.png" class="img3" alt="/">
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="main-thumb1-area swiper-btn-lr wow fadeInUp" data-wow-delay="0.6s">
			<div class="swiper main-thumb1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="food-card">
							<div class="dz-media">
								<img src="assets/main/images/main-slider/slider1/thumb/pic1.jpg" alt="/">
							</div>
							<div class="dz-content">
								<h5 class="title">BreakFast</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="food-card">
							<div class="dz-media">
								<img src="assets/main/images/main-slider/slider1/thumb/pic2.jpg" alt="/">
							</div>
							<div class="dz-content">
								<h5 class="title">Lunch</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="food-card">
							<div class="dz-media">
								<img src="assets/main/images/main-slider/slider1/thumb/pic3.jpg" alt="/">
							</div>
							<div class="dz-content">
								<h5 class="title">Dinner</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="thumb-button-prev btn-prev-1"><i class="fa-solid fa-angle-left"></i></div>
			<div class="thumb-button-next btn-next-1"><i class="fa-solid fa-angle-right"></i></div>
		</div>
	</div>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
