
<section class="footer-style-two">
    <div class="auto-container">
        <!--Widget Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="logo-widget footer-widget">
                        <div class="inner-box">
                            <div class="logo">
                                <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>

                            </div>
                            <div class="text">765 - 879 - 1077 <br> 55 Angelica Street, NY <br> info@shangrila.com</div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="newsletter-widget footer-widget">
                        <h2>Sign Up For Our Newsletter</h2>
                        <form method="post" action="https://expert-themes.com/html/shangrila/contact.html">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Email" required>
                                <button type="submit" class="subscribe-btn">Sign Up</button>
                            </div>
                        </form>

                        <ul class="social-icon-two">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fa fa-dribbble"></span></a></li>
                            <li><a href="#"><span class="fa fa-pinterest"></span></a></li>
                            <li><a href="#"><span class="fa fa-vimeo"></span></a></li>
                            <li><a href="#"><span class="fa fa-skype"></span></a></li>
                        </ul>

                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-3 col-md-6 col-sm-12">
                    <div class="instagram-widget footer-widget">
                        <h2>Instagram</h2>
                        <div class="clearfix">
                            <figure class="image"><a href="images/gallery/1.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-1.jpg" alt=""></a></figure>
                            <figure class="image"><a href="images/gallery/2.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-2.jpg" alt=""></a></figure>
                            <figure class="image"><a href="images/gallery/3.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-3.jpg" alt=""></a></figure>
                            <figure class="image"><a href="images/gallery/1.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-4.jpg" alt=""></a></figure>
                            <figure class="image"><a href="images/gallery/2.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-5.jpg" alt=""></a></figure>
                            <figure class="image"><a href="images/gallery/3.jpg" class="lightbox-image"><img src="images/resource/sidebar-gallery-6.jpg" alt=""></a></figure>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End Widget Section-->
        <!--Copyright-->
        <div class="copyright">Copyright &copy; shangrila 2023. All Rights Reserved.</div>

    </div>
</section>