<!DOCTYPE html>
<html lang="en">
<partial name="_HeadPartial" />
@RenderSection("Styles", required: false)

<body id="bg">
    <div id="loading-area" class="loading-page-3">
        <img src="~/assets/main/images/loading.gif" alt="">
    </div>
    <div class="page-wrapper">
        <partial name="_HeaderPartial" />

        <div class="page-content bg-white">
            @RenderBody()
        </div>

        <partial name="_FooterPartial" />
    </div>
    <partial name="_ScriptsPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>